/* 
## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */
 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@700&display=swap');



* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {

}

.card  {
    display: flex;
    padding: 4rem 16rem;
    border: 0px solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card .sedan{
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
}

.card .luxury{
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
}
.cards{
    padding: 4rem 3rem;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
} 

.sedan button{
    color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.cards img{
padding: 1rem 2rem;
}

.cards h2{
color: #f2f2f2;
  font-family: "Big Shoulders Display";
  font-size: 40px;
  font-weight: 700;
  padding-left: 2rem;
  padding-top: 1rem;
}

.cards p{
    padding-top: 1rem;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0rem;
    font-family: "Lexend Deca", serif;
}

.cards button{
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 30px;
    font-size: 17px;
    font-family: "Lexend Deca", serif;
    border: none;
}

@media only screen and (max-width: 1200px) {
  .card{
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .cards img{
    padding: 1rem 2rem;    
}
    
    .cards h2{
        padding: 1rem 2rem;
  
    }
    
    .cards p{
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
    
    .cards button{
        margin: 1rem 2rem;
        
    }
  }